.new-incident-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
}

.new-incident-container .content {
    align-items: center;
    background-color: #F0F0F5;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba( 0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 96px;
    width: 100%;
}

.new-incident-container .content section {
    width: 100%;
    max-width: 380px;
}

.new-incident-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-incident-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident-container .content form {
    width: 100%;
    max-width: 450px;
}

.new-incident-container .content form input,
.new-incident-container .content form textarea {
    margin-top: 8px;
}

.new-incident-container .content form .input-group {
    display: flex;
}

.new-incident-container .content form .input-group input + input {
    margin-left: 8px;
}
