# Node things
node_modules/
package-lock.json

# Yarn Things
yarn.lock
yarn-error.log

# Others
.vscode
.DS_Store
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store